<form action="/add" method="POST">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Conteudo:</p>
    <textarea name="conteudo" ></textarea>
    <button type="submit">Cadastrar Postagem</button>
</form>